<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi super App</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="name" placeholder="">
        <select name="color" id="color">
            <option value="red">Rojo</option>
            <option value="Azul">Azul</option>
            <option value="Verde">Verde</option>
        </select>
        <input type="email" name="email" placeholder="Email">
        <input type="number" name="age" placeholder="Edad">
        <button type="submit" name="enviar" placeholder="">Enviar</button>


    </form>
</body>
</html>